{"openapi":"3.1.0","info":{"title":"JobGorilla API","description":"Endpoints for interfacing with the JobGorilla Job Distribution Engine.","version":"2.10.3"},"servers":[{"url":"https://feed.jobgorilla.com","description":"Production","x-fern-server-name":"production-server"}],"tags":[{"name":"Company Management Operations","description":"Core company operations for managing all company jobs managed by JobGorilla."},{"name":"Job Management Operations","description":"Core Job operations for publishing, expiring, and viewing jobs managed by JobGorilla."},{"name":"Job Feed Operations","description":"Endpoints for interfacing with the JobGorilla Job Distribution Engine."},{"name":"Meta Data Operations","description":"Metadata and reference data for components of the JobGorilla Job Distribution Engine."}],"paths":{"/job":{"post":{"tags":["Job Management Operations"],"summary":"Upsert Job","description":"Publish a new Job or update an existing Job.","operationId":"manageJob","parameters":[{"name":"X-JobGorilla-Key","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobPosting"}}},"required":true},"responses":{"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"Job successfully created or updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobPostingResponse"}}}},"400":{"description":"Bad request - validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobPostingResponse"}}}}}},"delete":{"tags":["Job Management Operations"],"summary":"Delete Job","description":"Remove a Job.","operationId":"deleteJob","parameters":[{"name":"X-JobGorilla-Key","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteJobPosting"}}},"required":true},"responses":{"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"Job successfully deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteJobPostingResponse"}}}},"400":{"description":"Bad request - validation failed or job not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteJobPostingResponse"}}}},"406":{"description":"Not Acceptable - error occurred during job deletion","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteJobPostingResponse"}}}}}}},"/meta/boards":{"get":{"tags":["Meta Data Operations"],"summary":"Job Boards","description":"Returns a list of supported Job Boards and their details.","operationId":"getJobBoards","parameters":[{"name":"X-JobGorilla-Key","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JobBoard"}}}}}}}},"/job/{guid}":{"get":{"tags":["Job Management Operations"],"summary":"Get Job","description":"Returns a single Job by the JobGorilla GUID.","operationId":"getJob","parameters":[{"name":"X-JobGorilla-Key","in":"header","required":true,"schema":{"type":"string"}},{"name":"guid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Job"}}}}}}},"/feed/board/{guid}":{"get":{"tags":["Job Feed Operations"],"summary":"Job Feed","description":"Returns a job feed for the given board ID.","operationId":"getJobFeed","parameters":[{"name":"X-JobGorilla-Key","in":"header","required":false,"schema":{"type":"string"}},{"name":"guid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Job"}}}}}}}},"/company":{"delete":{"tags":["Company Management Operations"],"summary":"Delete Jobs for Company","description":"Remove all jobs for a Company.","operationId":"deleteCompany","parameters":[{"name":"X-JobGorilla-Key","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteCompany"}}},"required":true},"responses":{"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}},"200":{"description":"Company jobs successfully deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteCompanyResponse"}}}},"400":{"description":"Bad request - validation failed or job not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteCompanyResponse"}}}},"406":{"description":"Not Acceptable - error occurred during job deletion","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteCompanyResponse"}}}}}}}},"components":{"schemas":{"JobPostingResponse":{"type":"object","properties":{"jobGorillaGuid":{"type":"string","description":"The JobGorilla GUID created when the job was created."},"status":{"type":"string","description":"The status of the request.","enum":["OK","ERROR"]},"errors":{"type":"array","description":"Any errors to help with troubleshooting a problem.","items":{"type":"string"}}}},"Company":{"type":"object","properties":{"parentCompany":{"$ref":"#/components/schemas/Company","description":"If the company is a logically a part of another company, add that parent company."},"id":{"type":"string","description":"Your system's unique ID for the company."},"name":{"type":"string","description":"The legal name of the company."},"marketingName":{"type":"string","description":"The name of the company to be sent to Job Boards."},"location":{"$ref":"#/components/schemas/Location","description":"The main location of the company."},"linkedInCompanyId":{"type":"integer","format":"int64","description":"For jobs to be posted on LinkedIn, the company ID on LinkedIn.\n\n<Tip>[This article by LinkedIn](https://www.linkedin.com/help/linkedin/answer/a415420) will help you find your ID. </Tip>\n\n<Warning>Sending the wrong LinkedIn ID for a company can cause your entire feed to be disabled.</Warning>\n"},"directEmployer":{"type":"boolean","description":"Is this company a direct employer?  This setting affects which job boards get the jobs.\n\n<Info>For Staffing companies, this must be set to `false`.</Info>\n"}},"required":["directEmployer","id","location","name"]},"Currency":{"type":"string","description":"ISO 4217 currency code for monetary values","enum":["USD","USD"],"example":"USD"},"JobContact":{"type":"object","properties":{"name":{"type":"string","description":"The name of the job contact."},"email":{"type":"string","description":"The email of the job contact in RFC-5322 format.","example":"jogo@jobgorilla.com"},"phone":{"type":"string","description":"The phone number of the job contact."}},"required":["email"]},"JobPosting":{"type":"object","description":"Complete job posting information including position details, compensation, location, and application requirements","properties":{"id":{"type":"string","description":"Unique identifier for this job posting in your system","example":"JOB-2024-001234"},"postingId":{"type":"string","description":"Alternative or external posting identifier (e.g., from ATS or job board)","example":"EXT-98765-20250101"},"title":{"type":"string","description":"Job title or position name","example":"Senior Software Engineer","maxLength":1000},"description":{"type":"string","description":"Detailed job description including responsibilities, requirements, and qualifications","example":"We are seeking a Senior Software Engineer to join our team...","maxLength":10000,"minLength":50},"applyUrl":{"type":"string","format":"uri","description":"URL where candidates can apply for this position","example":"https://company.com/careers/apply/job-123"},"contact":{"$ref":"#/components/schemas/JobContact","description":"Primary contact information for this job posting"},"company":{"$ref":"#/components/schemas/Company","description":"Company or organization offering this position"},"location":{"$ref":"#/components/schemas/Location","description":"Primary work location for this position"},"workFromHome":{"type":"boolean","default":false,"description":"Indicates if this position allows work from home","example":true},"workRemote":{"type":"boolean","default":false,"description":"Indicates if this is a fully remote position","example":true},"workHybrid":{"type":"boolean","default":false,"description":"Indicates if this position offers hybrid work arrangements","example":false},"partTime":{"type":"boolean","default":false,"description":"Indicates if this is a part-time position","example":false},"openings":{"type":"integer","format":"int32","description":"Number of available positions for this job posting","example":3,"maximum":999,"minimum":1},"placementType":{"$ref":"#/components/schemas/PlacementType","description":"Type of employment arrangement"},"currency":{"$ref":"#/components/schemas/Currency","description":"Currency for compensation values"},"payType":{"$ref":"#/components/schemas/PayType","description":"Payment frequency for compensation"},"maxPay":{"type":"number","format":"double","description":"Maximum pay rate or salary based on payType","example":150000.0,"minimum":0},"minPay":{"type":"number","format":"double","description":"Minimum pay rate or salary based on payType","example":120000.0,"minimum":0},"openDate":{"type":"string","format":"date-time","description":"Date when this job posting becomes active and visible","example":"2024-01-15T09:00:00Z"},"endDate":{"type":"string","format":"date-time","description":"Date when this job posting expires and should be removed","example":"2024-03-15T23:59:59Z"},"screenerQuestionsUrl":{"type":"string","format":"uri","description":"URL to pre-screening questions or assessment for applicants","example":"https://company.com/screening/job-123"},"enableIndeedApply":{"type":"boolean","default":true,"description":"Enable Indeed Apply integration for this posting","example":true},"enableZipRecruiterApply":{"type":"boolean","default":true,"description":"Enable ZipRecruiter Apply integration for this posting","example":true},"createDate":{"type":"string","format":"date-time","description":"Timestamp when this job posting was initially created","example":"2024-01-01T10:30:00Z","readOnly":true},"modifyDate":{"type":"string","format":"date-time","description":"Timestamp when this job posting was last modified","example":"2024-01-10T14:45:00Z","readOnly":true}},"required":["applyUrl","company","contact","createDate","currency","description","enableIndeedApply","enableZipRecruiterApply","id","location","modifyDate","openDate","openings","payType","placementType","title"]},"Location":{"type":"object","description":"Physical location or address information","properties":{"address":{"type":"string","description":"Primary street address","example":123},"address2":{"type":"string","description":"Secondary address line (apartment, suite, floor, etc.)","example":"Suite 400"},"municipality":{"type":"string","description":"City or town name","example":"San Francisco"},"stateCode":{"type":"string","description":"State or province code (typically 2-letter abbreviation)","example":"CA","maxLength":2},"countryCode":{"type":"string","description":"ISO 3166-1 alpha-2 country code","example":"US","maxLength":2},"postalCode":{"type":"string","description":"Postal or ZIP code","example":94105}},"required":["countryCode","stateCode"]},"PayType":{"type":"string","description":"Payment frequency type for compensation","enum":["NONE","HOURLY","DAILY","MONTHLY","ANNUALLY","WEEKLY","BIWEEKLY"],"example":"HOURLY"},"PlacementType":{"type":"string","description":"Type of job placement or employment arrangement","enum":["CONTRACT","PERMANENT","DIRECT_HIRE","CONTRACT_TO_HIRE"],"example":"CONTRACT"},"JobBoard":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"guid":{"type":"string"},"name":{"type":"string"},"preferences":{"type":"array","items":{"$ref":"#/components/schemas/Preference"}}}},"Preference":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"value":{"type":"string"}}},"Job":{"type":"object","properties":{"id":{"type":"string"},"jobTitle":{"type":"string"},"description":{"type":"string"},"applyUrl":{"type":"string"},"postingId":{"type":"string"},"posterEmail":{"type":"string"},"parentCompanyId":{"type":"integer","format":"int64"},"companyId":{"type":"integer","format":"int64"},"company":{"type":"string"},"companyNameOriginal":{"type":"string"},"companyAddress":{"type":"string"},"companyAddress2":{"type":"string"},"companyCity":{"type":"string"},"companyState":{"type":"string"},"companyZip":{"type":"string"},"location":{"type":"string"},"city":{"type":"string"},"streetAddress":{"type":"string"},"workFromHome":{"type":"boolean"},"workRemote":{"type":"boolean"},"workHybrid":{"type":"boolean"},"partTime":{"type":"boolean"},"openings":{"type":"integer","format":"int32"},"state":{"type":"string"},"stateName":{"type":"string"},"country":{"type":"string"},"postalCode":{"type":"string"},"placementTypeId":{"type":"integer","format":"int32"},"maxPay":{"type":"number","format":"double"},"minPay":{"type":"number","format":"double"},"maxPayTypeId":{"type":"integer","format":"int32"},"maxPayType":{"type":"string"},"minPayTypeId":{"type":"integer","format":"int32"},"minPayType":{"type":"string"},"openDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"},"createDate":{"type":"string","format":"date-time"},"modifyDate":{"type":"string","format":"date-time"},"duration":{"type":"string"},"jobGroup":{"type":"string"},"directEmployer":{"type":"boolean"},"linkedInCompanyId":{"type":"integer","format":"int64"},"screenerQuestionsUrl":{"type":"string"},"enableIndeedApply":{"type":"boolean"},"enableZipRecruiterApply":{"type":"boolean"},"jobGorillaId":{"type":"integer","format":"int64"},"jobGorillaGuid":{"type":"string"},"formattedLocation":{"type":"string"}}},"DeleteJobPostingResponse":{"type":"object","properties":{"jobGorillaGuid":{"type":"string","description":"The JobGorilla GUID of the job that was deleted."},"status":{"type":"string","description":"The status of the request.","enum":["OK","ERROR"]},"errors":{"type":"array","description":"Any errors to help with troubleshooting a problem.","items":{"type":"string"}}}},"DeleteJobPosting":{"type":"object","properties":{"id":{"type":"string","description":"Your system's ID for the job to be deleted."}},"required":["id"]},"DeleteCompanyResponse":{"type":"object","properties":{"companyId":{"type":"string","description":"The ID of the company whose jobs were deleted."},"numberOfJobs":{"type":"integer","format":"int64","description":"The number of jobs deleted for the company"},"status":{"type":"string","description":"The status of the request.","enum":["OK","ERROR"]},"errors":{"type":"array","description":"Any errors to help with troubleshooting a problem.","items":{"type":"string"}}}},"DeleteCompany":{"type":"object","properties":{"id":{"type":"string","description":"Your system's ID for the company to be deleted.","minLength":1,"pattern":"\\d+"}},"required":["id"]}}}}